/* Fondo y estilo para el carrusel */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
}

/* Estilos para tarjetas de productos */
.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0d6efd;
}

.card-footer {
    background-color: #4caf50 !important;
    text-align: center;
}

.card-footer small {
    color: black !important;
    font-weight: bold;
    font-size: 1.2rem;
}

/* Estilo para secciones del catálogo */
.category-section {
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
}

.category-title {
    font-size: 2rem;
    font-weight: bold;
    color: #212529;
}
